---

- name: "{{ kafka_mode }} | check if meta properties file exists"
  become: true
  ansible.builtin.stat:
    path: "{{ kafka_server_log_dirs }}/meta.properties"
  register: __meta_properties_file

- name: "{{ kafka_mode }} | generate Kraft Cluster ID"
  when: not __meta_properties_file.stat.exists and kafka_cluster_id is none
  become: true
  block:
    - name: "{{ kafka_mode }} | generate cluster ID"
      become: true
      ansible.builtin.shell: |
        {{ kafka_install_dir }}/bin/kafka-storage.sh random-uuid
      register: __generate_cluster_id
      changed_when: false

    - name: "{{ kafka_mode }} | set cluster ID to fact"
      ansible.builtin.set_fact:
        __kafka_cluster_id: "{{ __generate_cluster_id.stdout }}"

    - name: "{{ kafka_mode }} | manage Kraft"
      become: true
      ansible.builtin.shell: |
        {{ kafka_install_dir }}/bin/kafka-storage.sh format --config {{ kafka_conf_dir }}/kafka.server.properties --cluster-id {{ __kafka_cluster_id }} --ignore-formatted
      register: __manage_kraft
      changed_when: false

- name: "{{ kafka_mode }} | from inventory cluster ID"
  become: true
  when: not __meta_properties_file.stat.exists and kafka_cluster_id is not none
  block:
    - name: "{{ kafka_mode }} | manage Kraft"
      become: true
      ansible.builtin.shell: |
        {{ kafka_install_dir }}/bin/kafka-storage.sh format --config {{ kafka_conf_dir }}/kafka.server.properties --cluster-id {{ kafka_cluster_id }} --ignore-formatted
      register: __manage_kraft
      changed_when: false

- name: "{{ kafka_mode }} | enable GC log"
  become: true
  ansible.builtin.replace:
    path: "{{ kafka_install_dir }}/bin/kafka-server-start.sh"
    regexp: ^EXTRA_ARGS=\${EXTRA_ARGS-'-name kafkaServer'}
    replace: EXTRA_ARGS=${EXTRA_ARGS-'-name kafkaServer -loggc'}
    owner: "{{ kafka_user_owner }}"
    group: "{{ kafka_user_group_service }}"
  when: kafka_gc_log_enabled

- name: "{{ kafka_mode }} | disable GC log"
  become: true
  ansible.builtin.replace:
    path: "{{ kafka_install_dir }}/bin/kafka-server-start.sh"
    regexp: ^EXTRA_ARGS=\${EXTRA_ARGS-'-name kafkaServer -loggc'}
    replace: EXTRA_ARGS=${EXTRA_ARGS-'-name kafkaServer'}
    owner: "{{ kafka_user_owner }}"
    group: "{{ kafka_user_group_service }}"
  when: not kafka_gc_log_enabled
