---

- name: "{{ kafka_mode }} | obtain config for topic"
  become: true
  become_user: "{{ kafka_user_owner_service }}"
  become_method: machinectl
  become_exe: "sudo machinectl"
  command: "{{ kafka_install_dir }}/bin/kafka-topics.sh --bootstrap-server {{ kafka_bootstrap_server }} --topic {{ item }} --describe"
  register: __kafka_topics_config_described_full
  changed_when: false

- name: "{{ kafka_mode }} | init temp vars for {{ item }} config (1/3)"
  set_fact:
    __kafka_topics_partitions_in_server: "{{ __kafka_topics_config_described_full | regex_search('PartitionCount: [0-9]+') }}"
    __kafka_topics_replicas_in_server: "{{ __kafka_topics_config_described_full | regex_search('ReplicationFactor: [0-9]+') }}"

- name: "{{ kafka_mode }} | init temp vars for {{ item }} config (2/3)"
  set_fact:
    __kafka_topics_partitions_in_server: "{{ __kafka_topics_partitions_in_server.split(':')[1]|trim }}"
    __kafka_topics_replicas_in_server: "{{ __kafka_topics_replicas_in_server.split(':')[1]|trim }}"

- name: "{{ kafka_mode }} | init temp vars for {{ item }} config (3/3)"
  set_fact:
    __topics_server: "{\"name\":\"{{ item }}\", \"partitions\": \"{{ __kafka_topics_partitions_in_server }}\", \"replicas\": \"{{ __kafka_topics_replicas_in_server }}\"}"

- name: "{{ kafka_mode }} | append in list"
  set_fact:
    __kafka_topics_server: "{{ __kafka_topics_server + [ __topics_server ] }}"
