---

- name: Restart service
  when: not ansible_check_mode
  become: true
  become_user: "{{ kafka_user_owner_service }}"
  become_method: machinectl
  become_exe: "sudo machinectl"
  ansible.builtin.systemd:
    name: kafka
    state: restarted
    enabled: true
    daemon_reload: true
    scope: user
